@font-face {
    font-family: JOKERMAN;
    src: url('./fonts/JOKERMAN.ttf');
    src: url('./fonts/JOKERMAN.woff') format('woff'),
         url('./fonts/JOKERMAN.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
